@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

textarea:focus,
input:focus {
  outline: none;
  box-shadow: none;
}

@layer utilities {
  .section {
    @apply w-full min-h-svh flex relative md:flex-row flex-col;
  }
  .sectionPadding {
    @apply w-full md:py-12 py-8 xl:px-36 px-14;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between flex-row;
  }

  .inputCorrect {
    @apply border border-[#98E37E];
  }
  .inputError {
    @apply border border-[#EF5050];
  }
}

.moreExperienceBtn {
  width: 289px;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.54px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(98, 161, 235, 1);
  padding: 14px 21px;
  border-radius: 4px;
  margin-top: 45px;
  margin-bottom: 115px;
}
.prevNextBtnWrapper {
  display: flex;
  justify-content: space-between;
}
